.header__lang-link {
  text-decoration: none;
  color: #fff;
  margin-right: 18px;
}
.header__lang-link:last-child{
  margin-right: 0px;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media (max-width: 320px) {

  .header__lang-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
  }
}
