.intro__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  margin-top: 33px;
  max-width: 690px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
@media (max-width: 768px) {
  .intro__list {
    max-width: 720px;
  }
}
@media (max-width: 320px) {
  .intro__list {
    max-width: 288px;
  }
}
