.footer__item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin-right: 14px;
  color: #fff;
  text-decoration: none;
}
.footer__item:last-child {
  margin-right: 0px;
}
.footer__item:hover {
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .footer__item {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .footer__item {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 700px) {
  .footer__item {
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .footer__item:last-child {
    margin-bottom: 48px;
  }
}

